<div *ngIf="widget" class="view-panel">
<app-view-panel-header
        [item]="widget"
           (edit)="editWidget($event)"
         (view)="viewWidget($event)"
           (panelJson)="jsonWidget($event)"
        (remove)="removeWidget($event)">
    </app-view-panel-header>
        <ng-container [ngSwitch]="widget.type.metadata.name">
              <ng-template [ngSwitchCase]="'bar-chart'">
                    <app-bar
                        [item]="widget"
                             (filter)="onFilter($event)"
                             [reset]="resetDataSource">
                    </app-bar>
              </ng-template>
              <ng-template [ngSwitchCase]="'area-graph'">
                    <app-area-stack
                        [item]="widget"
                           (filter)="onFilter($event)"
                           [reset]="resetDataSource"
                           >
                    </app-area-stack>
              </ng-template>
              <ng-template [ngSwitchCase]="'pie-chart'">
                    <app-pie
                        [item]="widget"
                        (filter)="onFilter($event)"
                        [reset]="resetDataSource">
                    </app-pie>
              </ng-template>
                   <ng-template [ngSwitchCase]="'line-graph'">
                    <app-line-chart
                              [item]="widget"
                           (filter)="onFilter($event)"
                           [reset]="resetDataSource">
                    </app-line-chart>
              </ng-template>
             <ng-template [ngSwitchCase]="'bar-animation'">
                    <app-bar-animation (mousedown)="$event.stopPropagation()" (touchstart)="$event.stopPropagation()"
                                                 [item]="widget"
                           (filter)="onFilter($event)"
                           [reset]="resetDataSource">
                    </app-bar-animation>
              </ng-template>
                 <ng-template [ngSwitchCase]="'pie-donut-chart'">
                    <app-donut-chart (mousedown)="$event.stopPropagation()" (touchstart)="$event.stopPropagation()"
                        [item]="widget"
                           (filter)="onFilter($event)"
                           [reset]="resetDataSource">
                    </app-donut-chart>
              </ng-template>
                    <ng-template [ngSwitchCase]="'gauge'">
                    <app-gauge-chart (mousedown)="$event.stopPropagation()" (touchstart)="$event.stopPropagation()"
                        [item]="widget"
                        [reset]="resetDataSource">
                    </app-gauge-chart>
              </ng-template>
             <ng-template [ngSwitchCase]="'summary-bar'">
                    <app-summary  (mousedown)="$event.stopPropagation()" (touchstart)="$event.stopPropagation()"
                        [item]="widget"
                          (filter)="onFilter($event)">
                    </app-summary>
              </ng-template>
        </ng-container>
            <hr>
            <ng-container [ngSwitch]="widget.type.metadata.name">
              <ng-template [ngSwitchCase]="'summary-bar'">
                    <app-table-summary
                         [item]="widget"  [filter]="filter"  [reset]="resetDataSource">
                    </app-table-summary>
              </ng-template>
                  <ng-template [ngSwitchCase]="'bar-chart'">
                    <app-table-bar
                         [item]="widget"  [filter]="filter"  [reset]="resetDataSource">
                    </app-table-bar>
              </ng-template>
                           <ng-template [ngSwitchCase]="'pie-chart'">
                    <app-table-pie
                         [item]="widget"  [filter]="filter"  [reset]="resetDataSource">
                    </app-table-pie>
              </ng-template>
                                         <ng-template [ngSwitchCase]="'pie-donut-chart'">
                    <app-table-pie
                         [item]="widget"  [filter]="filter"  [reset]="resetDataSource">
                    </app-table-pie>
              </ng-template>
                  <ng-template ngSwitchDefault>
                         <app-table [item]="widget"  [filter]="filter"  [reset]="resetDataSource"></app-table>
                  </ng-template>
             </ng-container>

</div>