<div *ngIf="widget" class="view-panel">
<app-panel-header
        [item]="widget"
           (edit)="editWidget($event)"
         (view)="viewWidget($event)"
           (panelJson)="jsonWidget($event)"
        (remove)="removeWidget($event)">
    </app-panel-header>
        <ng-container [ngSwitch]="widget.type.metadata.name">
              <ng-template [ngSwitchCase]="'bar-chart'">
                    <app-bar
                        [item]="widget">
                    </app-bar>
              </ng-template>
              <ng-template [ngSwitchCase]="'area-graph'">
                    <app-area-stack
                        [item]="widget">
                    </app-area-stack>
              </ng-template>
              <ng-template [ngSwitchCase]="'pie-chart'">
                    <app-pie
                        [item]="widget"
                        (filter)="onFilter($event)">
                    </app-pie>
              </ng-template>
                   <ng-template [ngSwitchCase]="'line-graph'">
                    <app-line-chart
                        [item]="widget">
                    </app-line-chart>
              </ng-template>
             <ng-template [ngSwitchCase]="'bar-animation'">
                    <app-bar-animation (mousedown)="$event.stopPropagation()" (touchstart)="$event.stopPropagation()"
                        [item]="widget">
                    </app-bar-animation>
              </ng-template>
                 <ng-template [ngSwitchCase]="'pie-donut-chart'">
                    <app-donut-chart (mousedown)="$event.stopPropagation()" (touchstart)="$event.stopPropagation()"
                        [item]="widget">
                    </app-donut-chart>
              </ng-template>
                    <ng-template [ngSwitchCase]="'gauge'">
                    <app-gauge-chart (mousedown)="$event.stopPropagation()" (touchstart)="$event.stopPropagation()"
                        [item]="widget">
                    </app-gauge-chart>
              </ng-template>
                            <ng-template [ngSwitchCase]="'summary-bar'">
                    <app-summary  (mousedown)="$event.stopPropagation()" (touchstart)="$event.stopPropagation()"
                        [item]="widget">
                    </app-summary>
              </ng-template>
        </ng-container>
            <hr>
            <app-table [item]="widget"  [filter]="filter"></app-table>
</div>