<div class="diftg-sidebar-container" [class.example-is-mobile]="mobileQuery.matches">

  <button mat-icon-button class="menu">

    <mat-icon class="material-icons--round" aria-hidden="false" aria-label="Menu">menu</mat-icon>
  </button>





  <mat-sidenav-container class="diftg-sidebar-sidenav-container" hasBackdrop="false">
    <mat-sidenav-content>
      <mat-nav-list class="side-menu mat-elevation-z2" >
        <a mat-list-item routerLink="/dashboard" matTooltip="Dashboard" class="active">
          <mat-icon matListIcon class="material-icons-rounded">home</mat-icon>
          <span *ngIf="isToggle">Dashboard</span>
        </a>
      </mat-nav-list>

      <app-header></app-header>

      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
