<mat-toolbar class="dashboard-sidebar-toolbar">


  <a href="#" *ngIf="!detailView"><span class="dashboard-logo mat-headline gradient-mask">#DASHBOARD</span></a>
  <mat-form-field *ngIf="!detailView">
  <mat-select [(value)]="selectedTheme">
    <mat-option value="dark">Dark</mat-option>
    <mat-option value="default">Default</mat-option>
  </mat-select>
</mat-form-field>
<button class="button-back" (click)="goBack()" *ngIf="detailView">
                 <mat-icon fontSet="fas" fontIcon="fa-arrow-left"></mat-icon>
</button>

  <span class="dashboard-sidebar-fill-remaining-space"></span>



  <button mat-icon-button (click)="newWidget()" matTooltip="Add Panel" >
    <mat-icon  aria-hidden="false" aria-label="Notifications">assessment</mat-icon>
  </button>
    <button mat-icon-button matTooltip="Save Dashboard"  (click)="saveDashboard()">
    <mat-icon  aria-hidden="false" aria-label="Save">save</mat-icon>
  </button>

    <button mat-icon-button  [satPopoverAnchor]='popDatePicker'  (click)="onDatePicker()">
    <mat-icon  aria-hidden="false" aria-label="Toggle Down">access_time</mat-icon> {{range}}
      <mat-icon  aria-hidden="false" aria-label="Toggle Down" *ngIf="timeRangeToggle">keyboard_arrow_down</mat-icon>
      <mat-icon  aria-hidden="false" aria-label="Toggle Up"  *ngIf="!timeRangeToggle">keyboard_arrow_up</mat-icon>
       <sat-popover #popDatePicker hasBackdrop  verticalAlign="below" horizontalAlign="end" >
               <mat-list>
            <mat-list-item *ngFor="let range of rangeList" (click)="updateRange(range)">  {{range.label}}  </mat-list-item>
            </mat-list>
        <!-- <div  class="datePicker" fxLayout="row" fxLayoutAlign="space-between">
             <div fxFlex>
                  <ngx-mat-drp (selectedDateRangeChanged)="updateRange($event)" [options]="options" #dateRangePicker></ngx-mat-drp>
          </div>
        </div> -->
        </sat-popover>
      </button>

      <!--Refresh  -->
      <mat-button-toggle-group>
        <mat-button-toggle mat-icon-button  (click)="onRefresh()"> <mat-icon  aria-hidden="false" aria-label="Refresh">autorenew</mat-icon></mat-button-toggle>
        <mat-button-toggle mat-icon-button  [satPopoverAnchor]='poprefresh' (click)="refreshToggleClicked()">
         <span class="refresh-time"> {{refreshTime === 'Off'?'':refreshTime}}</span>
             <mat-icon  aria-hidden="false" aria-label="Toggle Down" *ngIf="refreshToggle">keyboard_arrow_down</mat-icon>
              <mat-icon  aria-hidden="false" aria-label="Toggle Up" *ngIf="!refreshToggle">keyboard_arrow_up</mat-icon>
                <sat-popover #poprefresh hasBackdrop  verticalAlign="below" horizontalAlign="end" >
        <mat-list>
            <mat-list-item *ngFor="let time of refreshList" (click)="refreshTimeSelected(time)">  {{time.label}}  </mat-list-item>
            </mat-list>
        </sat-popover>
        </mat-button-toggle>


      </mat-button-toggle-group>


</mat-toolbar>
