 <div class="whole"   [style.background-color]="echarts.bg" >
	<div class="summary" [ngClass]="{'deactivated': !isActive}" (click)="onTableClick(data.name)">
			<div fxLayout="column" class="summary-container">
		  			<div class="title">{{data?.name}}</div>

			   <div fxLayout="row" class="item-wrapper"  fxLayoutGap="10px">

				<div class="section" fxFlex><span>{{data?.result[0]?.value[1] | round}}</span></div>

					<div class="item" fxFlex="grow" *ngIf="change > 0"  fxLayout="row" fxLayoutGap="10px">
						<mat-icon class="green-color" fxFlex aria-hidden="false" >trending_up</mat-icon>
						<div class="item-text" fxFlex="grow">Increased by <span class="green-color">{{changeRate}}</span> from {{duration}} ago</div>
					</div>

					 <div class="item"  fxFlex="grow" *ngIf="change < 0" fxLayout="row" fxLayoutGap="10px">
						<mat-icon  class="red-color" fxFlex aria-hidden="false">trending_down</mat-icon>
						<span class="item-text" fxFlex="grow">Decreased by <span class="red-color">{{changeRate}}</span> from {{duration}} ago</span>
					</div>

					<div class="item"  fxFlex="grow" *ngIf="change == 0" fxLayout="row" fxLayoutGap="10px">
						<mat-icon  class="" fxFlex aria-hidden="false" >remove</mat-icon>
						<span class="item-text" fxFlex="grow">Increased by <span class="">{{changeRate}}</span> from {{duration}} ago</span>
					</div>
					</div>
			</div>
			</div>



	<div echarts [options]="options"  (chartClick)="onChartClick($event, 'chartClick')" style="height:120px" (chartInit)="onChartInit($event)"></div>
	</div>