:host {
	margin-top: 30px;
	.title {
		color: rgba(0, 0, 0, .54);
		font-size: 2rem;
	}
	.whole {
		cursor: pointer;
		padding: 10px;
	}

	.green-color {
		color: green;
	}
	.red-color {
		color: red;
	}
	.item-text {
		display: inline-block;
	}
	.item-icon {
		display: inline-block;
	}
	.echart {
		height: calc(100% - 405px);
		width: 100%;
		position: relative;
	}

	.summary-container {
		width: 98%;
		margin: 0 auto;
		padding-top: 15px;
	}
	.summary {
		margin-top: 10px;
	}
	.summary-title {
		font-size: 24px;
		color: rgba(0, 0, 0, .54);
	}
	.summary-value {
	}

	.section {
		display: inline-block;
		font-size: 7rem;
		padding: 50px 2px 4px 0px;
		margin-top: 10px;
	}
	.item {
		padding: 15px;
		font-size: 1.5rem;
	}

	.deactivated {
		background: #c5cae9;
		h2,
		h3 {
			color: #9fa9be;
		}
	}
}
