
        <button   mat-button appCenterMenu (click)="open()">{{item.title}}
        <mat-icon  aria-hidden="false" aria-label="Toggle Down" *ngIf="menuToggle">keyboard_arrow_down</mat-icon>
        <mat-icon  aria-hidden="false" aria-label="Toggle Up"  *ngIf="!menuToggle">keyboard_arrow_up</mat-icon>
        </button>
      <div #menuTrigger="matMenuTrigger" [matMenuTriggerFor]="menu"  (menuClosed)="menuToggle === false" (menuOpened)="menuToggle === true">
            <mat-menu #menu="matMenu" class="center-menu">
            <button mat-menu-item (click)="view.emit(item)">
               <mat-icon fontSet="fas" fontIcon="fa-eye"></mat-icon>
              <!-- <i class="fas fa-eye"></i> -->
                <span>View</span>
            </button>
            <button mat-menu-item (click)="edit.emit(item)">
                <mat-icon fontSet="fas" fontIcon="fa-edit"></mat-icon>
               <!-- <i class="fas fa-edit"></i> -->
                <span>Edit</span>
            </button>
            <button mat-menu-item [matMenuTriggerFor]="subMenu">
                <mat-icon fontSet="fas" fontIcon="fa-cube"></mat-icon>
                <!-- <i class="fas  fa-cube"></i> -->
                <span>More...</span>
            </button>
              <hr class="break">
              <button mat-menu-item class="remove-menu" (click)="remove.emit(item)">
               <!-- <i class="fas fa-trash-alt"></i> -->
                 <mat-icon fontSet="fas" fontIcon="fa-trash-alt"></mat-icon>
                <span>Remove</span>
            </button>
            </mat-menu>

      </div>

            <mat-menu #subMenu="matMenu">
              <button mat-menu-item (click)="panelJson.emit(item)">Panel Json</button>
            </mat-menu>
