
 <gridster [options]="options">
    <gridster-item [item]="item" *ngFor="let item of items; let i = index" #gridsterItem>
        <app-panel-header
        [item]="item"
        (edit)="editWidget($event)"
         (view)="viewWidget($event)"
        (remove)="removeWidget($event)">
    </app-panel-header>
        <ng-container [ngSwitch]="item.type">
              <ng-template [ngSwitchCase]="'bar'">
                    <app-bar (mousedown)="$event.stopPropagation()" (touchstart)="$event.stopPropagation()"
                        [item]="item">
                    </app-bar>
              </ng-template>
              <ng-template [ngSwitchCase]="'area'">
                    <app-area-stack (mousedown)="$event.stopPropagation()" (touchstart)="$event.stopPropagation()"
                        [item]="item">
                    </app-area-stack>
              </ng-template>
              <ng-template [ngSwitchCase]="'pie'">
                    <app-pie (mousedown)="$event.stopPropagation()" (touchstart)="$event.stopPropagation()"
                        [item]="item">
                    </app-pie>
              </ng-template>
                              <ng-template [ngSwitchCase]="'bar-animation'">
                    <app-bar-animation (mousedown)="$event.stopPropagation()" (touchstart)="$event.stopPropagation()"
                        [item]="item">
                    </app-bar-animation>
              </ng-template>
        </ng-container>


    </gridster-item>
</gridster>

