
 <gridster [options]="options">
    <gridster-item [item]="item" *ngFor="let item of layout; let i = index">
        <app-panel-header
        [item]="item"
        (edit)="editWidget($event)"
         (view)="viewWidget($event)"
           (panelJson)="jsonWidget($event)"
        (remove)="removeWidget($event)">
    </app-panel-header>
        <ng-container [ngSwitch]="item.type.metadata.name">
              <ng-template [ngSwitchCase]="'bar-chart'">
                    <app-bar (mousedown)="$event.stopPropagation()" (touchstart)="$event.stopPropagation()"
                        [item]="item">
                    </app-bar>
              </ng-template>
              <ng-template [ngSwitchCase]="'area-graph'">
                    <app-area-stack (mousedown)="$event.stopPropagation()" (touchstart)="$event.stopPropagation()"
                        [item]="item">
                    </app-area-stack>
              </ng-template>
              <ng-template [ngSwitchCase]="'pie-chart'">
                    <app-pie (mousedown)="$event.stopPropagation()" (touchstart)="$event.stopPropagation()"
                        [item]="item">
                    </app-pie>
              </ng-template>
                    <ng-template [ngSwitchCase]="'line-graph'">
                    <app-line-chart (mousedown)="$event.stopPropagation()" (touchstart)="$event.stopPropagation()"
                        [item]="item">
                    </app-line-chart>
              </ng-template>
        </ng-container>


    </gridster-item>
</gridster>

