/* You can add global styles to this file, and also import other style files */
// Plus imports for other components in your app.
@import 'styles/layout';
@import 'styles/dashboard-theme';
@import 'styles/typography';
@import 'styles/forms';
@import 'styles/overrides';
// @import '~@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import "~@fortawesome/fontawesome-free/css/all.css";
body,
html {
	height: 100%;
	color: $dark-primary-text;
}
.custom-drop {
	background: blue;
}
.json-panel {
	mat-dialog-container {
		background: #161719;
		color: #fff;
		.mat-dialog-content {
			background: #000;
			display: block;
			margin: 0 4px;
		}
	}
}

body {
	margin: 0;
	background: #161719;
}
.echart {
	height: calc(100% - 40px);
	width: 100%;
}

.img > img {
	width: 100%;
	height: 100%;
}

.dashboard-logo {
	font-size: 90%;
	margin-left: 3rem;
	font-weight: $black;
	padding: 1rem 2rem;
	display: block;
	margin-top: 24px;
}

.inline-block {
	display: inline-block;
}

.float-left {
	float: left;
}

.float-right {
	float: right;
}

.clear-both {
	clear: both;
}

.dropdown:hover .mat-button-focus-overlay {
	opacity: 0 !important;
}

.danger {
	color: red;
}

.success {
	color: green;
}

.d-none {
	display: none;
}

.cursor {
	cursor: pointer;
}
.spinner {
	text-align: right;
	padding-right: 15px;
	font-size: 20px;
}
